.app {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #f7f4fd;
}

.app-header {
  box-shadow: 0 1px 1px -1px rgba(0,0,0,.16);
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
}

.app-logo{
  height: 36px;
  margin: 0 12px;
}

.app-greeting {
  color: #5d21d2;
  text-align: center;
}